body{
    background-image: url('../img/2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#login-box{
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
    background: #00000060;
    padding: 20px 50px;
}
#login-box h1{
    color: #fff;
}
#login-box .form .item input{
    margin-top: 15px;
}
#login-box .form i{
    font-size: 18px;
    color: #fff;
}
#login-box .form .item input {
    width: 180px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid#fff;
    padding: 5px 10px;
    background:#ffffff00;
    color: #fff;
}
#login-box .form .sub{
    margin-top: 15px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    background:linear-gradient(to right, #06485c 0%, #00356f 100%);
    border: 0;
    border-radius: 15px;
}