<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:id="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/all_book.css">
    <title>书城</title>

</head>
<body>
<div>
    <h1 align="center"><strong>bookshop</strong></h1>
    <input name="search" id="search" />
    <input type="button" onclick="f()">
</div>
<div align="center">
    <table border="4">
        <thead>
        <tr>
            <th>name</th>
            <th>author</th>
            <th>price</th>
            <th>tag</th>
            <th>read online</th>
            <th>modify</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody id="tb">
        <tr class="line" th:each="book:${pageInfo.list}">
            <td class="name"  id="name" th:text="${book.name}">x</td>
            <td id="author" th:text="${book.author}"></td>
            <td id="price" th:text="${book.price}"></td>
            <td id="tag" th:text="${book.tag}"></td>
            <td id="view"><a th:href="@{'http://localhost:8080/show_file/'+${book.name}}"/>reading</td>
            <td id="modify"><a th:href="@{'http://localhost:8080/modify/'+${book.name}}"/>modify</td>
            <td id="delete"><a th:href="@{'http://localhost:8080/delete/'+${book.id}}"/>delete</td>
        </tr>
        </tbody>

        <tfoot id="tf">

        </tfoot>
    </table>
    <p></p>
    <p id="add_way"></p>
    <p></p>
    <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span> 页,共 <span
           id="many" th:text="${pageInfo.total}"></span> 条记录</p>
    <a th:href="@{/getAllBook}">首页</a>
    <a th:href="@{/getAllBook(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
    <a th:href="@{/getAllBook(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
    <a th:href="@{/getAllBook(pageNum=${pageInfo.pages})}">尾页</a>
    <input type="hidden" th:class="${pageInfo.pages}" th:value="${pageInfo.pages}" id="pages"/>
    <input type="hidden" th:class="${pageInfo.pageNum}" th:value="${pageInfo.pageNum}" id="pagesNum"/>
</div>
</body>
</html>


<script>

    function addrows() {
        var whole_row = document.createElement("tr");
        var new_name = document.createElement("td");
        var new_author = document.createElement("td");
        var new_price = document.createElement("td");
        var new_tag = document.createElement("td");
        var new_file = document.createElement("td");
        var new_confirm = document.createElement("td");

        new_name.innerHTML = "<input id='new_name' type='text' required />"
        new_author.innerHTML = "<input id='new_author' type='text' required />"
        new_price.innerHTML = "<input id='new_price' type='text' required />"
        new_tag.innerHTML = "<input id='new_tag' type='text' required/>"
        new_file.innerHTML = "<input id='new_file' type='text' required />"
        new_confirm.innerHTML = "<input type='button' id='sub' class='sub' onclick='confirm(this)'>"

        whole_row.appendChild(new_name);
        whole_row.appendChild(new_author);
        whole_row.appendChild(new_price);
        whole_row.appendChild(new_tag);
        whole_row.appendChild(new_file);
        whole_row.appendChild(new_confirm);

        document.getElementById("tb").appendChild(whole_row);
    }


    pages = document.getElementById("pages").className;
    now_page = document.getElementById("pagesNum").className;
    console.log(pages + ".." + now_page);
    if (pages == now_page) {
        console.log(pages + ".." + now_page);

        var add = document.createElement("div");
        add.innerHTML = "<button class='add_b' onclick='addrows()'>add a row</button>"
        document.getElementById("add_way").appendChild(add);

    }


    function confirm(obj) {
        new_name = document.getElementById("new_name").value;
        new_price = document.getElementById("new_price").value;
        new_tag = document.getElementById("new_tag").value;
        new_author = document.getElementById("new_author").value;
        new_file = document.getElementById("new_file").value;

        console.log(new_name + new_price + new_tag + new_author + new_file);

        x = document.getElementById("sub");
        btnline = obj.parentNode;
        btnline.removeChild(x);

        data = {
            "new_name": new_name,
            "new_price": new_price,
            "new_tag": new_tag,
            "new_author": new_author,
            "new_file": new_file
        };
        console.log(data);
        var httpRequest = new XMLHttpRequest();//第一步：建立所需的对象
        httpRequest.open("POST", "/AddDataToServer", false);  //调用AddDataToServer
        httpRequest.setRequestHeader("Content-Type", "application/json");   //设置请求头信息
        httpRequest.onreadystatechange = function () {
            if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                alert('添加成功');
            }
        }
        httpRequest.send(JSON.stringify(data)); //设置为发送给服务器数据
        history.go(0);
    }

    function passToSearch() {

        let name = document.getElementsByClassName("name");
        let list = document.getElementsByClassName("line");
        let many ;
        let input;
        // let name = document.getElementById("name").innerHTML;



        return function r(input) {


            if(!many){
                many = document.getElementById("many").innerHTML;
            }
            if(!input){
                input = document.getElementById("search").value;
            }

            var k = 0;
        for(let i=0;i<10;i++){

            let nowName = name[k].innerHTML;
            console.log(nowName);
            console.log(input);
            if(nowName.indexOf(input)!=-1){//如果包含关键字的话，就不删除
                k++;

            }
            else{
                list[k].parentNode.removeChild(list[k]);
            }
        }
        }
    }


    var p=passToSearch();
    function f() {

        p();
    }


</script>